<!DOCTYPE html>
<html>
<head>
    <title>AI Resume Analyzer</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>
<body>

    <h1>AI Resume Analyzer</h1>

    <form method="POST" enctype="multipart/form-data">

        <p>Upload Resume PDF:</p>
        <input type="file" name="resume">

        <br><br>

        <p>Upload Job Description:</p>
        <input type="file" name="jd">

        <br><br>

        <button type="submit">Analyze Resume</button>

    </form>
<hr>

{% if analysis_done %}

ALL RESULTS HERE


{% if found_skills %}

<h2>ATS Score</h2>

<div class="progress-bar">
    <div
        class="progress-fill"
        style="width: {{ ats_score }}%;"
    >
        {{ ats_score }}%
    </div>
</div>

<!--<h2>ATS Score</h2>

<p>{{ ats_score }}/100</p>
 Jinja = Flask's template language.it is a placeholder that will be replaced with the actual score value when the template is rendered.-->

{% endif %}

{% if match_score %}

<h2>Job Match Score</h2>
<p>
    <strong>{{ match_score }}%</strong>
</p>
{% endif %}


{% if recommended_role %}

<h2>Recommended Career Role</h2>

<div class="role-box">
    {{ recommended_role }}
</div>

{% endif %}

{% if role_scores %}

<h2>Career Fit Analysis</h2>

<ul>
{% for role, score in sorted_role_scores %}
   <li>
    <strong>{{ role }}</strong> - {{ score }}%
</li>
{% endfor %}
</ul>

{% endif %}


{% if found_skills %}

<h2>Skills Found</h2>

<ul>
    {% for skill in found_skills %}
        <li>{{ skill }}</li>
    {% endfor %}
</ul>

{% endif %}


{% if matched_skills %}

<h2>Matched Skills</h2>

<ul>
    {% for skill in matched_skills %}
        <li>{{ skill }}</li>
    {% endfor %}
</ul>

{% endif %}



{% if missing_skills %}

<h2>Missing General Skills</h2>

<ul>
    {% for skill in missing_skills %}
        <li>{{ skill }}</li>
    {% endfor %}
</ul>

{% endif %}


{% if missing_jd_skills %}

<h2>Skills Missing For Job</h2>

<ul>
    {% for skill in missing_jd_skills %}
        <li>{{ skill }}</li>
    {% endfor %}
</ul>

{% endif %}

{% if skill_gap_feedback %}

<h2>Skill Gap Analysis</h2>

<p>{{ skill_gap_feedback }}</p>

{% endif %}


{% if suggestions %}

<h2>Suggestions</h2>

<ul>
    {% for suggestion in suggestions %}
        <li>{{ suggestion }}</li>
    {% endfor %}
</ul>

{% endif %}

{% endif %}
</body>
</html>