<!DOCTYPE html>
<html>
<head>
    <title>AI Resume Analyzer</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>
<body>

    <h1>AI Resume Analyzer</h1>

    <form method="POST" enctype="multipart/form-data">

        <p>Upload Resume PDF:</p>

<label for="resume" class="upload-box" id="resume-box">
    📄 Click to Upload Resume
</label>

<input
    type="file"
    id="resume"
    name="resume"
    hidden
>
    
        <br><br>

        <p>Upload Job Description:</p>

<label for="jd" class="upload-box" id="jd-box">
    💼 Click to Upload Job Description
</label>

<input
    type="file"
    id="jd"
    name="jd"
    hidden
>

        <br><br>

        <button type="submit">Analyze Resume</button>

    </form>
<hr>

{% if analysis_done %}

ALL RESULTS HERE


{% if found_skills %}
<div class="result-card">
 <div class="card">
    <h2>ATS Score</h2>

    <div class="progress-bar">
        <div class="progress-fill"
             style="width: {{ ats_score }}%;">
             {{ ats_score }}%
        </div>
    </div>
</div>
</div>
<!--<h2>ATS Score</h2>

<p>{{ ats_score }}/100</p>
 Jinja = Flask's template language.it is a placeholder that will be replaced with the actual score value when the template is rendered.-->

{% endif %}


{% if match_score %}

<div class="result-card">
<div class="card">
    <h2>Job Match Score</h2>

    <p><strong>{{ match_score }}%</strong></p>

</div></div>
{% endif %}

<p>DEBUG: {{ ai_match_score }}</p>

{% if ai_match_score is not none %}

<h2>AI Semantic Match Score</h2>

<p>
    <strong>{{ ai_match_score }}%</strong>
</p>

{% endif %}



{% if recommended_role %}

<div class="result-card">
<div class="card">
    <h2>Recommended Career Role</h2>

    <div class="role-box">
        {{ recommended_role }}
    </div>

</div>
</div>
{% endif %}



{% if role_scores %}

<div class="result-card">
<div class="card">
    <h2>Career Fit Analysis</h2>

    <ul>
        {% for role, score in sorted_role_scores %}

<p>
    <strong>{{ role }}</strong>
</p>

<div class="progress-bar">

    <div
        class="progress-fill"
        style="width: {{ score }}%;"
    >
        {{ score }}%
    </div>

</div>

{% endfor %}
    </ul>

</div></div>
{% endif %}



{% if found_skills %}

<div class="result-card">
    <div class="card">
<h2>Skills Found</h2>

<ul>
    {% for skill in found_skills %}
        <li>{{ skill }}</li>
    {% endfor %}
</ul>
</div></div>
{% endif %}



{% if matched_skills %}

<div class="result-card">
<div class="card">
    <h2>Matched Skills</h2>

<ul>
    {% for skill in matched_skills %}
        <li>{{ skill }}</li>
    {% endfor %}
</ul>
</div></div>
{% endif %}



{% if missing_skills %}

<div class="result-card">
    <div class="card">
<h2>Missing General Skills</h2>

<ul>
    {% for skill in missing_skills %}
        <li>{{ skill }}</li>
    {% endfor %}
</ul>
</div></div>
{% endif %}



{% if missing_jd_skills %}
<div class="result-card">
    <div class="card">
<h2>Skills Missing For Job</h2>

<ul>
    {% for skill in missing_jd_skills %}
        <li>{{ skill }}</li>
    {% endfor %}
</ul>
</div></div>
{% endif %}


{% if skill_gap_feedback %}

<div class="result-card">
    <div class="card">
<h2>Skill Gap Analysis</h2>

<p>{{ skill_gap_feedback }}</p>
</div></div>
{% endif %}



{% if suggestions %}

<div class="result-card">
    <div class="card">
<h2>Suggestions</h2>

<ul>
    {% for suggestion in suggestions %}
        <li>{{ suggestion }}</li>
    {% endfor %}
</ul>
</div>
</div>
{% endif %}

{% endif %}


<script>
document.getElementById("resume").addEventListener("change", function() {

    document.getElementById("resume-box").innerHTML =
        "Selected: " + this.files[0].name;

});

document.getElementById("jd").addEventListener("change", function() {

    document.getElementById("jd-box").innerHTML =
        "Selected: " + this.files[0].name;

});

const resumeBox = document.getElementById("resume-box");
const resumeInput = document.getElementById("resume");

resumeBox.addEventListener("dragover", function(e) {
    e.preventDefault();
});

// resumeBox.addEventListener("drop", function(e) { e.preventDefault(); const dt = new DataTransfer();    dt.items.add(e.dataTransfer.files[0]);
   // resumeInput.files = dt.files;    resumeBox.innerHTML =
  //      "Selected: " + dt.files[0].name;}); 

const jdBox = document.getElementById("jd-box");
const jdInput = document.getElementById("jd");

// jdBox.addEventListener("drop", function(e)    e.preventDefault(); const dt = new DataTransfer();dt.items.add(e.dataTransfer.files[0]);jdInput.files = dt.files;jdBox.innerHTML =
  //      "Selected: " + dt.files[0].name;}); 

</script>
</body>
</html>